<!DOCTYPE html>
<html>
<head>
    <title>Strategy Picker</title>
    <link rel="stylesheet" href="../css/strategy.css">
</head>
<body>
	<div class="container">
	<form action="/">
		<button class="back">Back</button>
	</form>
		<h1>{{strategy[0]}}</h1>
		<div class="img_container">
			<img src="../css/{{strategy[0]}}.png" width="350" height="200"></img>
		</div>
		<p>{{strategy[1]}}</p>
		<!--<p>{{strategy[2]}}</p>-->
	</div>
	<p class="disclaimer">Not financial advice. Not an exhaustive list. Does not include commissions and other fees. Always perform your own research before investing.<br>
		©{{Year}} All Rights Reserved</p>
</body>
</html>